* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2c62a;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.clock-container {
    width: 512px;
    height: 512px;
    position: relative;
    margin: auto;
    background-image: url('./assets/face-nonumbers.svg');
    background-color: #ffffff;
    border-radius: 50%;
}

.hours {
    position: absolute;
}

.minutes {
    position: absolute;
}

.time-text {
    font-size: 3rem;
    margin: 2rem 0;
    /* display: flex; */
    align-items: center;
    gap: 1rem;
    display: none;
}

.time-text span {
    font-weight: bold;
}

#time-24 {
    background-color: #ffffff56;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

button {
    font-size: 2rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 2rem;
}