* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2c62a;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.clock-container {
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    background-image: url('./assets/face-nonumbers.svg');
    background-size: contain;
    background-color: #ffffff;
    border-radius: 50%;
}

.hours {
    width: 400px;
    height: 400px;
    position: absolute;
}

.minutes {
    width: 400px;
    height: 400px;
    position: absolute;
}

.time-output {
    height: 80px;
    font-size: 2.5rem;
    margin: 1.5rem 0;
    align-items: center;
    gap: 1rem;
    display: none;
}

.show-output {
    display: flex;
}

.time-output span {
    font-weight: bold;
}

#time-24 {
    background-color: #ffffff56;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

button {
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
}